.test {
  margin-top: 200px;
  .button {
    anchor-name: --btn;
  }

  .tooltip {
    display: none;
    position: absolute;
    position-anchor: --btn;
    bottom: anchor(top);
    left: anchor(center);
    transform: translateX(-50%);
  }

  ul {
    display: flex;
    gap: 1rem;
    position: relative;
    transition: all;
    a {
      padding: 1rem 2rem;
    }
    li:has(a:is(:hover, :focus-visible)) {
      anchor-name: --a;
    }
    /* li {
      anchor-name: --a;
    } */
    &:before {
      position: absolute;
      content: "";
      position-anchor: --a;
      top: anchor(top);
      left: anchor(left);
      width: anchor-size(width);
      height: anchor-size(height);
      background: red;
      border-radius: 2rem;
    }
  }
}

.button:hover {
  .tooltip {
    display: block;
  }
}
